.container {
    max-width: 1200px;
    margin: 0 auto;
}
.high{
    background-image: url(../img/pattern.png);
    background-color: #08a9f3;
}
logo.svg{
    height: 300px;
    width: 200px;
}

.cont1{
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;

}

.cont2{
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;

}

.tf{
    color: white;
    text-align: left;
    font-size: 26px;

}

.pf{
    color: gray;
    font-size: 26px;
}

mark{
    background-color: #fbff00;
}