/* container*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* intestazione*/
.cont{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
    background-color: #08a9f3;
    height: 125px;

}

.ucont{
    height: 130px;
    width: 200px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
/* footer*/
.cont1{
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    padding: 0 10px;
}

.cont2{
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    padding: 0 10px;
}

.tf{
    color: white;
    text-align: left;
    font-size: 26px;

}

.pf{
    color: gray;
    font-size: 26px;
}
/* parte evidenziata*/
.marked{
    background-color: #fbff00;
}
/* dimensione titolo*/
.titleh{
    font-size: 43px;
}
/* colore e dimensione testo sotto intestazione*/
span{
    color: #08a9f3;
}

.pname{
    font-size: 26px;
}

.ucont1{
    color: gray;
}
/* colori tabella*/
th{
    background-color: #086ef3a9 ;
}

.tbl{
    background-color: #08c4f3;
}
/* dimensione testo sotto le prime 2 foto*/
.pphoto{
    font-size: 12px;
}

